{% extends 'base.html' %} {% block content %}

<div class="row">     
    {% for pic in pics %}     
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columns"> 
        <div class="scale">
          
                <h5 class="modal-title" id="imageTitle">{{pic.name}}</h5>
                </button>
            <img src="{{pic.image.url}}" alt="Image" class="img-fluid">  
            <br>
            Description: {{pic.description}}
            <br>
            Location: {{pic.location}}
            <br>
            Category: {{pic.category}}
    
        <div class="container">
        
        <button class="btn btn-danger">View Details</button>
        
      </div> 

  </div>

</div>
    {% endfor %}
</div>

{% endblock %}